img {
    margin-left: 20px !important;
    margin-right: 10px !important;
    margin-bottom: 10px !important;
    margin-top: 10px !important;
    height: 95% !important;
    width: 90% !important;
}